<div class="container">
  <form>
    <div class="form-group col-sm-4">
      <label>UserName:</label>
      <input type="text" class="form-control" required [(ngModel)]="newUserName"
       name="userName" placeholder="UserName" #userName="ngModel">
      <label>Password:</label>
      <input type="password" class="form-control" required [(ngModel)]="newUserPassword" name="userPassword" placeholder="Password">
      <label>Password confirmation:</label>
      <input type="password" class="form-control" required [(ngModel)]="newUserPasswordConfirmed" name="userPasswordConf" placeholder="Password confirmation">
      <br />
      <button class="btn btn-primary" class="form-control" (click)="postUser()">Register</button>
      <br />
      <div *ngFor="let error of registerErrors" class="alert alert-danger" role="alert">{{ error }}</div>
      <div *ngIf="registerSuccess" class="alert alert-success" role="alert">{{ registerSuccessMessage }}</div>
    </div>
  </form>
</div>  