<div class="container">
  <h1 class="display-4 text-center">Register</h1>
  <br />
  <form>
    <div class="form-group">
      <input type="text" class="form-control" required [(ngModel)]="newUserName"
       name="userName" placeholder="Login" onfocus="this.placeholder=''" onblur="this.placeholder='Login'" #userName="ngModel" autocomplete="off">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" required [(ngModel)]="newUserPassword"
       name="userPassword" placeholder="Password" onfocus="this.placeholder=''" onblur="this.placeholder='Password'">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" required [(ngModel)]="newUserPasswordConfirmed"
       name="userPasswordConf" placeholder="Password confirmation" onfocus="this.placeholder=''" onblur="this.placeholder='Password confirmation'">
    </div>
    <div class="form-group">
      <button class="form-control btn btn-outline-success" (click)="postUser()">Register</button>
    </div>
    <div class="form-group">
      <div *ngFor="let error of registerErrors" class="alert alert-danger" role="alert">{{ error }}</div>
      <div *ngIf="registerSuccess" class="alert alert-success" role="alert">{{ registerSuccessMessage }}</div>
    </div>
  </form>
  <label>
    By creating account you agree to <a routerLink="/tos">Terms of Serivce</a>
  </label>
</div>  