<select class="form-control" id="channel" required [(ngModel)]="selectedChannelName" name="channel">
  <option *ngFor="let channel of channels" [value]="channel.name">{{channel.name}}</option>
</select>
<br/>

<ul>
  <li *ngFor="let msg of channelMessages()">[{{ msg.sentDate }}][{{ msg.userName }}] {{ msg.text }}</li>
</ul>

<div class="container">
  <form>
    <div class="form-inline">
      <input class="form-control mr-sm-4" type="text" required [(ngModel)]="messageText" name="messageText" placeholder="Text...">
      <button class="btn btn-outline-success mr-sm-4" (click)="sendMessage()">Send</button>
    </div>
  </form>
</div>