<h1 class="display-4 text-center">Terms of Service</h1>
<ol>
  <li><b>Use of This Site</b></li>
  <ul>
      You agree not to:-
      <p><i class="arrow-right"></i><i> publish and transmit data harmful or prohibited by your domestic law in any portion of the Site.</i>
      <p><i class="arrow-right"></i><i> attempt to deface, hack or otherwise negative interfere with this Site or any material or content displayed on this Site.</i>
  </ul>
  <li><b>Use of Information</b></li>
  <ul>
    <p><i class="arrow-right"></i><i> We have a privacy policy which sets out how we handle data that you may provide or that we may collect, in connection with your access or use of this website.</i></p>
    <p><i class="arrow-right"></i><i> The policy is not available on this website. You accept and agree to the terms set out in the policy and consent to the collection, use and disclosure of your personal data in accordance with the policy.</i></p>
  </ul>
  <li><b>Using TokTok is free and anonymous:</b></li>
  <ul>
    <p><i class="arrow-right"></i><i> Users do not have to send any private credentials to create accounts and channels.</i></p>
    <p><i class="arrow-right"></i><i> TokTok is MIT licensed.</i></p>
  </ul>
  <li><b>TokTok is an <i>MIT</i> licensed project:</b></li>
  <ul>
    <i class="arrow-right"></i> Using, copying and changing is allowed as long as you give contribution to the original creators.
  </ul>
</ol>
