<h1 class="display-4 text-center">Terms of Service</h1>
<ol>
  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non vulputate orci. Cras faucibus nisi et est luctus pretium.</li>
  <li>Quisque sed ante placerat, sodales est a, tincidunt quam.</li>
  <ul>
    <li>Cras finibus ex iaculis feugiat placerat.</li>
    <li>Quisque varius commodo blandit.</li>
  </ul>
  <li>Praesent consectetur velit quam, gravida mollis dolor fermentum vel.</li>
  <li>Mauris egestas, libero non molestie interdum, risus ex finibus augue, sed dapibus sapien ex nec arcu.</li>
  <li>Fusce rutrum dictum velit non ultricies. Aliquam ut enim in magna accumsan consectetur. Nulla facilisi.</li>
</ol>
