<div class="container">
  <div>
    <form>
      <div class="form-group col-sm-4">
        <label>Username:</label>
        <input type="text" class="form-control" required [(ngModel)]="loginUsername"
        name="loginUsername" placeholder="Username">
        <label>Password:</label>
        <input type="password" class="form-control" required [(ngModel)]="loginPassword"
        name="loginPassword" placeholder="Password">
        <br />
        <button class="btn btn-primary" class="form-control" (click)="login()">Login</button>
        <br />
        <div *ngFor="let error of loginErrors" class="alert alert-danger" role="alert">{{ error }}</div>
        <div *ngIf="loginSuccess" class="alert alert-success" role="alert">Success</div>
      </div>
    </form>
  </div>
</div>